[Dd]ebug/
[Rr]elease/
packages/
build/
[Bb]in/
[Oo]bj/
[Hh]elp/
NuGetPackages/
_[Rr]e[Ss]harper.*/
TestResults/
Packages.dgml
*.suo
*.sln.cache
*.user
*.cache
*.orig
*.vsmdi
*.testrunconfig
*.docstates
*.[Rr]e[Ss]harper*
*.dotCover
*.DotSettings
*_mm_cache.bin